body{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    margin: 0;
}
.header-color{
    color: orange;
}
section{
    display: flex;
}
.header-section{
    width: 50%;
    padding: 2%;
}
.header-section img {
    width: 80%;
}
.hireme-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: #fff;
    font-weight: 700;
    border-radius: 5px;
}
.top-section{
    background-image: url(assets/top-banner.png);
    background-repeat: no-repeat;
}