body{
    font-family: 'Poppins', sans-serif;
    
    margin: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 30px;
}
.header-color{
    color: orange;
}
.flex-container{
    display: flex;
    margin-bottom: 80px;
}
.header-section{
    width: 50%;
    padding: 2%;
}
.header-section img {
    width: 80%;
}
p{
    text-align: justify;
}
.hireme-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: #fff;
    font-weight: 700;
    border-radius: 5px;
}
.top-section{
    background-image: url(assets/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(assets/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experince{
    background-image: url(assets/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    
   
}
.skills{
    box-shadow: 10px 10px 40px gray;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
    border-radius: 10px;
}
#pro-web-developer{
    border-left: 7px solid tomato;
}
#junior-web-developer{
    border-left: 7px solid blue;
}
footer p{
    text-align: center;
}